extends layout

block content
  .row.banner
    .col-12
      h1 Loc8r
      small &nbsp;It's 2018, find places to work with wifi near you!
  .row
    .col-12.col-md-8
      .card
       .card-block
         h4
           a.location-name(href="/location") Starcups
           small &nbsp
             i.fas.fa-star
             i.fas.fa-star
             i.fas.fa-star
             i.fas.fa-star
             i.fas.fa-star
           span.badge.badge-pill.badge-default.float-end 100m
         p.address 125 High Street, Reading, RG6 1PS
         .facilities
           span.badge.badge-default Hot drinks
           span.badge.badge-default Food
           span.badge.badge-default Premium wifi
      .card
        .card-block
          h4
            a.location-name(href="/location") Warkers
            small &nbsp
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
            span.badge.badge-pill.badge-default.float-end 100m
          p.address 125 High Street, Reading, RG6 1PS
          .facilities
            span.badge.badge-default Hot drinks
            span.badge.badge-default Premium wifi
      .card
        .card-block
          h4
            a.location-name(href="/location") Winkers
            small &nbsp
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
            span.badge.badge-pill.badge-default.float-end 100m
          p.address 125 High Street, Reading, RG6 1PS
          .facilities
            span.badge.badge-default Hot drinks
            span.badge.badge-default Premium wifi
      .card
        .card-block
          h4
            a.location-name(href="/location") Wonkers
            small &nbsp
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
            span.badge.badge-pill.badge-default.float-end 100m
          p.address 125 High Street, Reading, RG6 1PS
          .facilities
            span.badge.badge-default Hot drinks
            span.badge.badge-default Premium wifi
    .col-12.col-md-4
      p.lead Loc8r helps you find places to work when out and about.Perhaps with coffee, cake or a pint? Let Loc8r help you spend money rather than just look at your phone.


